{% extends 'base.html.twig' %}

{% block title %}Posgrado Conjunto Ciencias Matemáticas{% endblock %}

{% block alert %}
{% endblock %}

{% block banner %}
    <div class="hero-tutores">
        <div class="container">
            <div class="hero-text-2 blue">Cursos</div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <section id="cursos">

        <div class="container">

            <h2 class="mb-5">Cursos del Semestre  {{ semestre }}</h2>

            <div class="mb-5">
                <table class="table table-bordered table-striped mb-5">
                    <thead>
                    <tr>
                        <th class="text-center">Curso</th>
                        <th class="text-center">Tema</th>
                        <th class="text-center">Profesor</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for curso in cursos %}
                        {%  if 'Temas' in curso.curso or 'Seminario' in curso.curso %}
                            <tr><td><a href="{{ path('app_curso_show', {'slug': curso.slug}) }}">{{ curso.curso }}</a></td>
                        {% else %}
                            <tr><td>{{ curso.curso }}</td>
                        {% endif %}
                        <td>{{ curso.tema }}</td><td>{{ curso.apellidos }} {{ curso.nombre }}</td></tr>
                    {% else %}
                        <tr>
                            <td colspan="11">no records found</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
