{% extends 'base.html.twig' %}

{% block title %}Curso{% endblock %}


{% block body %}
    <div class="container my-5">

    <h5>Semestre {{ semestre }}</h5>
    <hr>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_cursos') }}">Lista de cursos del semestre </a></li>
        </ol>
    </nav>

    <div class="text-wrap my-4" style="max-width: 650px;">
        <div class="fs-2 mt-4">{{ curso.curso }}</div>
        <div class="fs-4 fw-bold blue">{{ curso.apellidos }} {{ curso.nombre }}</div>
        <div class="fs-4 mt-5">{{ curso.tema }}</div>

        <div class="mt-3">{{ curso.objetivo }}</div>

        <div class="fw-bold mt-3">Temario</div>
        <div class="">{{ curso.temario | nl2br  }}</div>

        <div class="fw-bold mt-3">Bibliografía</div>
        <div class="">{{ curso.bibliografia | nl2br  }}</div>

        <div class="fw-bold mt-3">Requisitos</div>
        <div class="">{{ curso.requisitos }}</div>

        {% if curso.comentarios %}
            <div class="fw-bold mt-3">Comentarios</div>
            <div class="">{{ curso.comentarios }}</div>
        {% endif %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="container">
            <div class="row row-cols-auto">
                <div class="col"><a class="btn btn-dark" href="{{ path('app_curso_edit', {'slug': curso.slug}) }}"><i class="fa fa-edit"></i> Modificar</a></div>
                <div class="col">{{ include('curso/_delete_form.html.twig') }}</div>
            </div>
        </div>
    {% endif %}

    </div>
{% endblock %}
